#History
    width: 100%
    min-height: 100%
    display: flex
    justify-content: center
    align-items: center
    background: #eee

    .GraphView
        display: flex
        width: 100%

        .Left
            width: 70%

        .Right
            width: 30%
            height: 100vh
            position: fixed
            top: 0
            right: 0

        #Histogram
            padding: 30px

            .row
                float: left
                width: 100%
                margin-bottom: 5px

                .year
                    display: table-cell
                    float: left
                    display: block
                    width: 50px
                    color: #777

                .dots
                    display: table-cell
                .dot
                    float: left
                    width: 15px
                    height: 15px
                    background: orange
                    margin-bottom: 5px
                    margin-right: 5px

            .ScrollHint
                width: 70%
                position: fixed
                bottom: 30px
                text-align: center

                div
                    display: inline-block
                    padding: 0 20px
                    background: rgba(255, 255, 255, 0.87)
                    box-shadow: 0 0 3px #bbb
                    border-radius: 100px
                p
                    margin-bottom: 0
                    display: inline
                img
                    width: 50px
                    vertical-align: middle

            #HistogramBottom
                position: relative
                float: left
                background: linear-gradient(to bottom, transparent 0%, #eee 20%)
                width: 100%
                height: 100px
                z-index: 999
