#History
    width: 100%
    min-height: 100%
    display: flex
    justify-content: center
    align-items: center

#Histogram
    padding: 30px

    .row
        float: left
        width: 100%
        margin-bottom: 3px

        .year
            display: table-cell
            float: left
            display: block
            width: 50px
            color: #777
            font-size: 13px
        .dots
            display: table-cell
        .dot
            float: left
            width: 11px
            height: 11px
            background: #ccc
            margin-bottom: 5px
            margin-right: 5px
            border-radius: 100%
            p
                cursor: default
        .dot:hover
            box-shadow: 0 0 1px #000

    .ScrollHint
        width: 70%
        position: fixed
        bottom: 30px
        text-align: center
        pointer-events: none

        div
            display: inline-block
            padding: 0 20px
            background: rgba(255, 255, 255, 0.87)
            box-shadow: 0 0 3px #bbb
            border-radius: 100px
            cursor: pointer
            pointer-events: auto
        p
            margin-bottom: 0
            display: inline
        img
            width: 50px
            vertical-align: middle

    #HistogramBottom
        position: relative
        float: left
        background: linear-gradient(to bottom, transparent 0%, #eee 20%)
        width: 100%
        height: 100px
        z-index: 2

#HistogramDetails
    img
        margin-bottom: 15px